.my-tinymce-container .tox-tinymce {
    height: 100% !important;
}

.my-tinymce-container .tox-editor-header {
    display: none !important;
}

.my-tinymce-container .tox-tinymce {
    border: none !important;
}

.my-tinymce-container .tox-statusbar {
    display: none !important;
}

.tox-notifications-container {
    display: none !important;
    visibility: hidden;
}